<article>
	<ul class="data-provider-card__list">
		<li class="data-provider-card__list-item  js-data-provider-card__list-item">
			<div class="data-provider-card">

				<div class="data-provider-hero-unit">
					<h6 class="data-provider-header">SMS Messages</h6>
					<div class="data-provider-icon">
						<i class="sms-icon"></i>
					</div> <!-- end .data-provider-icon -->
				</div> <!-- end .data-provider-hero-unit -->

				<div class="data-provider-body">
					<div class="data-provider-status-wrapper">
						<div class="data-provider-status">Disable</div>
					</div>
				</div> <!-- end .data-provider-body -->

			</div> <!-- end .data-provider-card -->
		</li>
		<li class="data-provider-card__list-item  js-data-provider-card__list-item">
			<div class="data-provider-card">

				<div class="data-provider-hero-unit">
					<h6 class="data-provider-header">Email</h6>
					<div class="data-provider-icon">
						<i class="email-icon"></i>
					</div> <!-- end .data-provider-icon -->
				</div> <!-- end .data-provider-hero-unit -->

				<div class="data-provider-body">
					<div class="data-provider-status-wrapper">
						<div class="data-provider-status">Disable</div>
					</div>
				</div> <!-- end .data-provider-body -->

			</div> <!-- end .data-provider-card -->
		</li>
		<li class="data-provider-card__list-item  js-data-provider-card__list-item">
			<div class="data-provider-card">

				<div class="data-provider-hero-unit">
					<h6 class="data-provider-header">Twitter</h6>
					<div class="data-provider-icon">
						<i class="twitter-icon"></i>
					</div> <!-- end .data-provider-icon -->
				</div> <!-- end .data-provider-hero-unit -->

				<div class="data-provider-body">
					<div class="data-provider-status-wrapper">
						<div class="data-provider-status">Disable</div>
					</div>
				</div> <!-- end .data-provider-body -->

			</div> <!-- end .data-provider-card -->
		</li>
		<li class="data-provider-card__list-item  js-data-provider-card__list-item">
			<div class="data-provider-card">

				<div class="data-provider-hero-unit">
					<h6 class="data-provider-header">RSS</h6>
					<div class="data-provider-icon">
						<i class="rss-icon"></i>
					</div> <!-- end .data-provider-icon -->
				</div> <!-- end .data-provider-hero-unit -->

				<div class="data-provider-body">
					<div class="data-provider-status-wrapper">
						<div class="data-provider-status">Disable</div>
					</div>
				</div> <!-- end .data-provider-body -->

			</div> <!-- end .data-provider-card -->
		</li>
		<li class="data-provider-card__list-item  js-data-provider-card__list-item">
			<div class="data-provider-card">

				<div class="data-provider-hero-unit">
					<h6 class="data-provider-header">Instagram</h6>
					<div class="data-provider-icon">
						<i class="instagram-icon"></i>
					</div> <!-- end .data-provider-icon -->
				</div> <!-- end .data-provider-hero-unit -->

				<div class="data-provider-body">
					<div class="data-provider-status-wrapper">
						<div class="data-provider-status">Disable</div>
					</div>
				</div> <!-- end .data-provider-body -->

			</div> <!-- end .data-provider-card -->
		</li>
	</ul>
</article>
